doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  style.  
    #main {
      transition: margin-left .5s;
      padding-left: 5%;
      position: absolute;
      left: 30%;
      top: 25%;
      width:30%;
      background-size: auto;
      
      }
    .userbtn {
    position: absolute;
    top: 55%;
    left: 35%;
    font-size: 20px;
    margin-left: 50px;
    }
    .adminbtn {
    position: absolute;
    top: 55%;
    left: 57%;
    font-size: 20px;
    margin-right: 50%;
    }
    
       body {
       background-position: auto;
       //background-size: 100% auto;
       background-size: 1400px auto;
       background-repeat: no-repeat;
       padding-top: 40px;
           } 
       #footer{
       position: absolute;
       padding: 1px;
       padding-left: 75%;
       color: white;
       background-color: black;
       bottom: 0px;
       width:100%;
           }
  body(background='images/img3.jpg')
      h1
      img(src='images/back3.png', style='max-width:400px;height:auto;margin-left:35%;margin-top:3%;', position:absolute;)
      p
      a.userbtn(href='http://localhost:3000/#/login') User
      p
      a.adminbtn(href='http://localhost:3000/index') Admin
    #footer
     p © 2006 LatentView Analytics. All rights reserved.